<div class="container">
  <ng-template #errorTemplate>
    <div class="text-danger">{{ errorMessage }}</div>
  </ng-template>

  <div class="card mt-3" *ngIf="reservations; else errorTemplate">
    <div class="card-header">Reservation List</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="searchReservationFormGroup" (ngSubmit)="searchReservation()">
            <div class="input-group">
              <label class="input-group-text bg-white">Reservation Name</label>
              <input type="text" class="form-control" formControlName="keyword">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <button class="btn btn-outline-warning rounded-5" (click)="createReservation()">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Contexte</th>
                <th>Date</th>
                <th>Duree</th>
                <th>Ressource Name </th>
                <th>Person Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let reservation of reservations">
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.nom }}</td>
                <td>{{ reservation.contexte }}</td>
                <td>{{ reservation.date | date: 'short' }}</td>
                <td>{{ reservation.duree }}</td>
                <td>{{ reservation.ressource.nom }}</td>
                <td>{{ reservation.personne.nom}}</td>
                <td>
                  <button class="btn btn-success" (click)="getDetail(reservation)">Details</button>
                </td>
                <td>
                  <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#updateReservationModal" (click)="selectReservation(reservation)">
                    <i class="bi bi-pen"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteReservation(reservation.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateReservationModal" tabindex="-1" aria-labelledby="updateReservationModalLabel" aria-hidden="true" *ngIf="selectedReservationId !== null">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateReservationModalLabel">Update Reservation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="newReservation.nom" placeholder="Reservation Name" class="form-control mb-2">
        <input [(ngModel)]="newReservation.contexte" placeholder="Contexte" class="form-control mb-2">
        <!-- Additional fields for 'Date', 'Duree', 'Ressource', and 'Personne' -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateReservation()">Update</button>
      </div>
    </div>
  </div>
</div>

